s3:
  endpoint_url: "https://s3.amazonaws.com"
  bucket_name: "redis-backup-test"
  access_key_id: {{.AwsAccessKey}} 
  secret_access_key: {{.AwsSecretAccessKey}}
  path: "itest-backups"
log_file_path: {{.LogDir}}/backup.log
node_ip: 127.0.0.1
plan_name: {{.PlanName}}
broker_credentials:
    username: admin
password: admin
snapshot_timeout_seconds: 3600
broker_address: {{.BrokerUrl}}
redis_config_root: {{.ConfigDir}} 
redis_config_filename: redis.conf
